
<h1>Articles</h1>

<a href="" [routerLink]="['/article']" class="btn btn-primary">Create</a>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Article</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td>
        <a href="" [routerLink]="['/article', article.id]">
          {{article.id}}
          {{article.title}}
        </a>
      </td>
      <td>
        <a href="" (click)="deleteArticle(article); $event.preventDefault();">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
